{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body_class %}users{% endblock %}


{% block content %}

  <div class="container stacked">

    <header class="centered">
      <h2>Login</h2>
    </header>

    <section class="stacked centered">

      <form method="post" class="d-generated-form stacked">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
      </form>

      <a href="{% url 'signup' %}">signup</a>

    </section>

  </div>

{% endblock %}
