{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

  <div class="page-heading-text">
    <h1>{{ page.title }}</h1>
  </div>

  {% if page.specific.intro %}
    <div class="page-intro">
      {{ page.specific.intro|richtext }}
    </div>
  {% endif %}

  <div class="blog-content">

    <div class="blog-content__featured">
      <p>Featured blog post</p>
    </div>

    <div class="blog-content__list">

      {% for post in blogpages %}

        {% with post=post.specific %}

          <a href="{% pageurl post %}">

            <article class="blog-content__list__item stacked">

              <div class="image">
                {% with post.main_image as main_image %}

                  {% image main_image original as img %}

                  {% if main_image %}
                    <img src="{{ img.url }}" alt="image for {{ post.title }}">
                  {% endif %}
                {% endwith %}
              </div>

              <div class="blog-body">
                <h4>{{ post.title }}</h4>

                <p>{{ post.intro }}</p>

                {{ post.body|richtext }}
              </div>

            </article>
          </a>

        {% endwith %}

      {% endfor %}

    </div>

  </div>

{% endblock %}
