{% extends 'base.html' %}

{% block title %}Change Password Done{% endblock %}

{% block body_class %}users{% endblock %}


{% block content %}

  <div class="container stacked">

    <header>
      <h2>Your Password was changed successfully</h2>
    </header>

    <section>

{#      <form method="post" class="d-generated-form stacked">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <button type="submit">Update</button>#}
{#      </form>#}

    </section>

  </div>

{% endblock %}
