{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body_class %}users{% endblock %}



{% block content %}

  <div class="container">

    <header>
      <h1>Login Page</h1>
    </header>

    <section class="stacked">

      {% if user.is_authenticated %}

        <p>Hello, {{ user.username }}!</p>

        <p><a href="{{ user.id }}/profile/view">Profile</a></p>
        <p><a href="{% url 'logout' %}">logout</a></p>

      {% else %}

        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
        <a href="{% url 'signup' %}">signup</a>

      {% endif %}

    </section>

  </div>

{% endblock %}

