.form {
  width: 50%;

  &__row {

    &__field {
      padding: $small-spacing;
      width: 100%;

      .label {

      }

      .input {
        width: 100%;
        padding: $small-spacing;
        font-size: 18px;
        outline: none;

        &__text {

        }

        &__textarea {
          background-color: #ffffff;
        }
      }
    }

    &__actions {
      padding: $small-spacing;
    }
  }
}