// Helpers
.flex {
  display: flex;
}

.stacked {
  flex-direction: column;
}

.inline {
  flex-direction: row;
}

.centered {
  align-items: center;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

// Streams
.stream-block {
  padding: $small-spacing;
}
