.header {
  display: flex;
  padding: small-spacing;
}

.full-width-header {
  position: relative;
  width: 100%;

  img {
    width: 100%;
    //background-size: contain;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    top: 40px;
    width: 100%;

    h1 {
      text-align: center;
    }
  }
}

// Elements
.container {
  display: flex;
  justify-content: space-evenly;
  padding: $default-spacing;
}

.page-heading-text {

}

.page-intro {
  padding: $small-spacing 0;
}

.rich-text {

}

