$font-size: 12px;
$font-family: 'Roboto', sans-serif;

// Colors
$primary-color: tomato;
$secondary-color: #bada55;

$light-primary: lighten($primary-color, 15%);
$dark-primary: darken($primary-color, 15%);

$light-secondary: lighten($secondary-color, 15%);
$dark-secondary: darken($secondary-color, 15%);

// Spacing
$default-spacing: 40px;

$small-spacing: calc(#{$default-spacing} / 2);
$large-spacing: calc(#{$default-spacing} * 2);
