@import "resets";
@import "variables";

body {
  font-family: $font-family;
  background: tomato;
  box-sizing: border-box;

}

h1 {
  font-size: calc(#{$font-size} * 6);
}
h2 {
  font-size: calc(#{$font-size} * 5);
}
h3 {
  font-size: calc(#{$font-size} * 4);
}
h4 {
  font-size: calc(#{$font-size} * 3);
}
h5 {
  font-size: calc(#{$font-size} * 2);
}
h6 {
  font-size: calc(#{$font-size} * 1);
}

@import "layout";
@import "forms";

// app
@import "apps/users";

// Streamfields
@import "streamfields/callout";
@import "streamfields/content";
@import "streamfields/quote";
@import "streamfields/three_columns";
@import "streamfields/two_columns";
@import "streamfields/video";
