@import "resets";
@import "variables";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background: tomato;
}

// general
@import "layout";
@import "forms";
@import "headings";
@import "helpers";
@import "buttons";

// apps
@import "apps/users";
@import "apps/blog";
@import "apps/enquiry";

// partials
@import "partials/menu";

// streamfields
@import "streamfields/callout";
@import "streamfields/content";
@import "streamfields/quote";
@import "streamfields/three_columns";
@import "streamfields/two_columns";
@import "streamfields/video";
