nav.menu {
  display: flex;
  justify-content: space-evenly;

  a {
    flex: 1;
    padding: $small-spacing;
    background-color: #bada55;
    border-right: 4px solid darken($primary-color, 30%);
  }
}
