{% load static wagtailuserbar wagtailimages_tags menu %}

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'dist/css/main.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">

        {% wagtailuserbar %}

        {% menu %}

        {% block header %}

          {% if page.page_header_image %}
            {% image page.page_header_image original as img %}
          {% endif %}

          {% if page.page_header_image or page.page_title %}

  {#          <header class="header" style="background-image: url({{ img.url }})">#}
            <header class="{% if page.page_header_image %}full-width-header{% else %}header{% endif %}">

              {% if page.page_header_image %}
                <img src="{{ img.url }}" alt="">
              {% endif %}

              {% if page.page_title %}
                <div class="{% if page.page_header_image %}full-width-header__title{% else %}header__title{% endif %}">
                  <h1>{{ page.page_title }}</h1>
                </div>
              {% endif %}

            </header>

          {% endif %}

        {% endblock %}

        <section class="container stacked">
          {% block content %}{% endblock %}
        </section>

        {% include 'apps/enquiry/enquiry.html' %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'dist/main.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
