{% load wagtailcore_tags %}

<section class="enquiry">

  <div class="enquiry__info">
    <h3>Want to ask a question?</h3>
  </div>

  <form class="enquiry__form" method="post" action="{% url 'enquiry:send' %}">
    {#      <form class="enquiry__form" method="post" action="">#}


    {% csrf_token %}

    <div class="form_input__row">
      <div class="form_input">
        <label for="name">
          <input type="text" id="enquiry_name" name="enquiry_name" placeholder="Your name">
        </label>
      </div>

      <div class="form_input">
        <label for="email">
          <input type="email" id="enquiry_email" name="enquiry_email" placeholder="Your email">
        </label>
      </div>
    </div>

    <div class="form_input__row">
      <div class="form_input">
      <textarea name="enquiry_text" id="enquiry_text" cols="30" rows="10"
                placeholder="What's your question?"></textarea>
      </div>
    </div>

    <div class="form_input__row">
      <button class="button light" type="submit">submit</button>
    </div>
  </form>

</section>
