.blog-content {
  padding: $small-spacing 0;

  &__list {
    display: flex;
    padding: $small-spacing 0;

    a {
      flex-basis: 30%;
      text-decoration: none;
    }

    &__item {
      background-color: #bada55;

      .image {
        width: 100%;

        img {
          width: 100%;
        }
      }

      .blog-body {
        padding: $small-spacing;

        * {
          margin-bottom: 10px;
        }
      }
    }
  }

  &__categories {
    display: flex;
    padding: $small-spacing 0;

    ul {
      display: flex;
      flex: 1;
      align-items: center;
      margin-left: 10px;
    }
  }

  &__body {
    padding: $small-spacing 0;
  }

  &__images {
    padding: $small-spacing 0;
    display: flex;
    justify-content: space-between;
  }

  &__tags {
    padding: $small-spacing 0;
  }

  &__tag-list {
    display: flex;

    &__item {
      padding: 5px;
      border: 2px solid #bada55;
    }
  }

}